__pycache__/
*.pyc
*.pyo
.env
*.pem
*.crt
*.key
*.csr
certs/
*.egg-info/
dist/
build/
.venv/
venv/
*.log
.DS_Store
Thumbs.db
com/
!**/src/**/com/
org/
META-INF/
darwin/
linux-aarch64/
linux-ppc64le/
linux-s390x/
linux-x86-64/
win32-x86-64/
module-info.class
*.jar
!kafka-connect/redis-cdc-handler.jar
!kafka-connect/elasticsearch-cdc-handler.jar
!kafka-connect/mongodb-connector.jar
*.tar.gz
*.zip
data/
INSTRUCTIONS.md
Схемы/
